*~
*.swo
*.swp
cscope.*
tags

**/CMakeCache.txt
**/build_log.txt
**/cmake_install.cmake
**/output.map
**/CMakeFiles
**/clean
**/armgcc/Makefile
**/debug/
**/release/
**/*.ninja_deps
**/*.ninja_log
**/build.ninja
**/rules.ninja
**/.settings/*

**/build/
**/.gradle/
**/.idea/

.java.app
.java.configuration
.java.fp
.java.mock
.*.java.app
.*.java.configuration
.*.java.fp
.*.java.mock
javasec.prop

bsp/vee/inc/
bsp/vee/lib/
**/redlink.err
**/redlink.log
**/.gdb_history
gdb.cmd
**/application.bin
**/application.hex
**/application.elf
**/application.out
**/script.jlink
**/bin
test_results/*
bsp/mcux-sdk
bsp/vee/scripts/armgcc/compile_commands.json
bsp/vee/scripts/sdk_makefile/jlink_flash.script

bsp/vee/scripts/armgcc/tree_version.c

.builder

**/__pycache__/
bsp/vee/lib/
bsp/vee/inc/
.preset.gen

.builder

/Makefile
/Makefile.inc
/CMakeLists.txt
/CMakePresets.json
/CMakePresets.json.inc
**/__pycache__/
