*~
*.swo
*.swp
cscope.*
tags

**/CMakeCache.txt
**/build_log.txt
**/cmake_install.cmake
**/flexspi_nor_debug/
**/flexspi_nor_release/
**/output.map
**/CMakeFiles
**/clean
**/armgcc/Makefile
**/flexspi_nor_sdram_debug/
**/flexspi_nor_sdram_release/
**/*.ninja_deps
**/*.ninja_log
**/build.ninja
**/rules.ninja

*.s
*.i

microej/MCXN947-*-CM4hardfp_GCC48-*/build/
microej/MCXN947-*-CM4hardfp_GCC48-*/source/

BuildKit/bin/
BuildKit/conf/
BuildKit/lib/
BuildKit/microej-build-repository/
BuildKit/microej-module-repository/
BuildKit/release.properties

.java.app
.java.configuration
.java.fp
.java.mock
.*.java.app
.*.java.configuration
.*.java.fp
.*.java.mock
javasec.prop

**/redlink.err
**/redlink.log
**/.gdb_history
gdb.cmd
**/application.out
**/bin
test_results/*
bsp/projects/nxpvee-ui/armgcc/debug/
microej/vee-port-configuration/dropins/*.jar
microej/vee-port-configuration/dropins/include
microej/vee-port-configuration/dropins/javaAPIs
microej/vee-port-configuration/dropins/javaLibs
microej/vee-port-configuration/dropins/mocks
microej/vee-port-configuration/dropins/resources/
microej/vee-port-configuration/dropins/scripts
microej/vee-port-configuration/dropins/tools/*
microej/vee-port-configuration/dropins/workbenchExtension_launchScriptFramework.jar
microej/vee-port-configuration/dropins/gpio/gpio_default.properties
bsp/projects/nxpvee-ui/armgcc/build_log.txt
bsp/projects/nxpvee-ui/armgcc/release/
bsp/projects/microej/platform/
scripts/pylib/build_helpers/__pycache__/
scripts/west_commands/__pycache__/
scripts/west_commands/runners/__pycache__/
/build
bsp/projects/nxpvee-ui/armgcc/tree_version.c
bsp/mcux-sdk/
